.login-brand {
  margin-bottom: 20px;
  width: 250px;
}

.login h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

.login h2 {
  font-size: 25px;
}

.login h6 {
  font-size: 18px !important;
}

.login-forgotpass {
    color: #333;
    display: block;
    font-weight: 300;
}

.btn-continue {
  width: 300px;
  padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 1.75;
}

.btn-cancel{
   width: 300px;
  padding-top: 5px;
    border: none;
    font-size: 16px;
    margin-bottom: 0;
}